@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Varela+Round&display=swap');

body{
    font-family: 'Nunito', sans-serif ;
}





/*------------------------------------------------------------------
Service card section starts here  
--------------------------------------------------------------------*/
.service-cards{
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    padding: 15px 25px;
    border-radius: 5px;
    height: 550px;
    position: relative;
    margin-top: 60px;
}

.service-card-header {
    width: 120px;
    height: 120px;
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    top: -15%;
}
.service-card-header div{
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-card-headerText{
    position: relative;
    bottom: 10%;
}
.service-card-header div i{
    font-size: 3em;
}
.service-card-headerText hr{
        height: 3px;
        color: red;
}
.service-card-body{
    line-height: 32px;
    position: relative;
    bottom: 8%;
}
.service-card-footer{
    position: absolute;
    bottom: 20px;
    left: 30%;
}
/*------------------------------------------------------------------
Service card section ends here  
--------------------------------------------------------------------*/


/*------------------------------------------------------------------
Project section starts here  
--------------------------------------------------------------------*/
.project-header{
    height: 300px;
    overflow: hidden;
}
#projectImage1{
    width: 160%;
}
#projectImage2{
    width: 200%;
}
#projectImage3{
    width: 160%;
}
/*------------------------------------------------------------------
Project section ends here  
--------------------------------------------------------------------*/



/*------------------------------------------------------------------
Staff section starts here  
--------------------------------------------------------------------*/
.staff-social-icon{
    display: flex;
}
.facebook-span{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.facebook-span2{
    background-color: #0777E8;
}
.facebook-span a{
    color: white;
}

.whatsapp-span{
    background-color: #0CC243;
}
.twitter-span{
    background-color: #FF4328;
}
.call-span{
    background-color: #5F43C5;
}
/*------------------------------------------------------------------
staff section ends here  
--------------------------------------------------------------------*/

/*------------------------------------------------------------------
Feedback section starts here  
--------------------------------------------------------------------*/
.client-circle{
    position: relative;
    border: 3px solid #671E75;
}
.client-image{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
    border: 5px solid #671E75;
}
.client-text{
    margin-top: 80px;
    padding: 10px;
}
.client-text p{
    color: teal;
}






















#navbar-fixed-bottom{
    display: none;
}

@media only screen and (max-width:768px){
    #navbar-fixed-bottom{
        display: block;
    }
    .navbars{
        background: white;
        z-index: 5000;
        box-shadow: 0px -2px 4px rgba(0,0,0,0.3);
        padding-top: 7px;
        padding-bottom: 5px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .navbar-elements{
        text-align: center;
        position: relative;
        color: #818189;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .navbar-elements i{
        font-size: 16px;
    }
    .navbar-elements span{
        font-size: 14px;
    }
    
    #mid-icon{
        color: #198754;    
        position: absolute;
        top: -80%;
        z-index: 500;
        border: 3px solid white;
        width: 53px;
        height: 53px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: #4368A5;
        box-shadow: 0 0 4px rgba(0,0,0,0.3);
    }
    #mid-icon i{
        font-size: 1.4em;     
        color: white;   
    }

    #call{
        position: relative;
        margin-top: 10px;
    }

    #facebook{
        color: #818189;
    }
    #linkedIn{
        background: #818189;
        color: white;
        border-radius: 5px;
    }
    #twitter{
        color: #818189;
    }
    .span-text{
        font-weight: 500;
    }
}